github "ishkawa/APIKit"
github "ikesyo/Himotoki"
github "ReactiveX/RxSwift"
github "drmohundro/SWXMLHash"
github "kishikawakatsumi/KeychainAccess"
github "radex/SwiftyUserDefaults"
github "SVProgressHUD/SVProgressHUD"
